#contents{margin:20px auto; max-width:90%; text-align:left;}
#contents p{margin-bottom:20px;}
#contents dt{background-color:#ffdcbd; padding:5px; color:#ff0000; border-bottom:1px dotted #ff0000; font-weight:bold;}
#contents dd{margin:10px auto 20px auto;}
