/*--all--------------------------------------------------------------------------------------------------------------------------*/
#all{background:url(../../images/common/bg_panlist_under.png) repeat-x;}
#wrapper{width:980px; margin:0px auto; text-align:left; padding-top:30px; margin-bottom:60px;}
#contents{}

h2{background:url(../../images/recruit/h2.jpg) no-repeat; height:50px; text-indent:-9999px; margin-bottom:30px;}
