#contents{margin-top:0px; text-align:center;}
h3{background:#ffffff; border:none; margin:20px auto 
0px auto; padding:0;}

#wrapper{margin:0px auto 20px auto; max-width:90%;}
#wrapper #img {text-align:center;}
#wrapper #img p{text-indent:-9999px;}

#img_txt{margin:0px auto; text-align:center;}
#wrapper #end_txt{background:none; padding:20px 0 20px 0; text-align:center;}
#wrapper #end_txt a{text-decoration:underline;}

#wrapper #btm_form{margin:0px aito; text-align:center;}