/*--all--------------------------------------------------------------------------------------------------------------------------*/
#all{background:url(../../images/common/bg_panlist_under.png) repeat-x;}
#wrapper{width:980px; margin:0px auto; text-align:left; padding-top:30px; margin-bottom:60px;}
#contents{}


/*--contents--------------------------------------------------------------------------------------------------------------------------*/
h2{background:url(../../images/contact/h2.jpg) no-repeat; height:50px; text-indent:-9999px; margin-bottom:30px;}
#wrapper dl{background:#f8f8f8; padding:10px;border-bottom:1px dotted #3c3c3c;}
#wrapper dt{background:url(../../images/common/icon_triangle.png) no-repeat; padding-left:15px; list-style:none;font-size:x-small;}
#wrapper .bg_white{background:#FFF;}

.img_stage{margin:30px 0;}

table{width:980px; text-align:left}
tr{border-top:1px dotted #FF3300;}
th{background:#ffdcbe; padding:10px; width:200px;}
td{padding:10px;}
.brd_btm{border-bottom:1px dotted #FF3300;}
.btn{width:231px; height:35px; margin:30px auto 0 auto;}
