#contents{margin:20px auto; max-width:90%; text-align:left;}
#contents h4{background:#EFEFEF; border-left:10px solid #7C7C7C; border-bottom:1px solid #7C7C7C; padding:5px; margin-bottom:20px; font-weight:bold;}
#contents dl{}
#contents dt{background-color:#ffdcbd; padding:5px; color:#ff0000; border-bottom:1px dotted #ff0000; font-weight:bold;}
#contents dd{padding:10px 0;}